body{
    background: lightgoldenrodyellow;
}

body header{
    padding:10px 0px 20px 0px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerGame {
    border: 10px outset skyblue;
    height: 720px;
    width: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerGame div {
    height: 80px;
    width: 80px;
}

div.containerGame {
    background-image:url(./assets/cutgrass_texture_darker.png);
    background-size: 60px 60px;
}

.goalPoint {
    background-color:#D81B60;
}

.m2, .m3 {
    background-image:url(./assets/cutgrass_texture.png);
    background-size:80px 80px;
    
}

.mower-right.m1 {
    background-image:url(./assets/mower.png);
    background-size:80px 80px;
}

.mower-left.m1 {
    background-image:url(./assets/mowerLeft.png);
    background-size:80px 80px;
}
.b2, .l2{
    background-image:url(./assets/logLeft_texture.png);
    background-size:90px 80px;
}    

.b3, .l3 {
    background-image:url(./assets/water_texture.png);
    background-image:url(./assets/logMid_texture.png);
    background-image:url(./assets/logRight_texture.png);
    background-size:82px 81px;
}

.b1, .b4, .b5, .l1, .l4, .l5 {
    background-image:url(./assets/water_texture.png);
    background-size:80px 80px;
    background-color:transparent;
}

.b5, .l4 {
    transform: rotate(180deg);
}

.playableCharacter {
    background-image:url(./assets/frog_resting.png);
    background-size:80px 80px;
    transform: rotate(180deg);
}
